<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="TripleM.Web.Configuration.ServicesConfigurator, TripleM.Web" />
    </services>
    <pipelines>
      <initialize>
        <!--clear dictinary on AppStart-->
        <processor type="TripleM.Web.Pipeline.RegisterCustomRoutesPipeline, TripleM.Web" />
        <processor type="TripleM.Web.ClearDictionaryCache, TripleM.Web" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>