<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=DESKTOP-CRI7IA5;Initial Catalog=SC92_Core;User ID=coreuser;Password=uTkAvNODiAEHHGiAOZ6X" />
  <add name="security" connectionString="Data Source=DESKTOP-CRI7IA5;Initial Catalog=SC92_Core;User ID=securityuser;Password=66Ow2Z8JhKgcwmTNSeCq" />
  <add name="master" connectionString="Data Source=DESKTOP-CRI7IA5;Initial Catalog=SC92_Master;User ID=masteruser;Password=1iCzF14As4LX2IfQyPpZ" />
  <add name="web" connectionString="Data Source=DESKTOP-CRI7IA5;Initial Catalog=SC92_Master;User ID=masteruser;Password=1iCzF14As4LX2IfQyPpZ" />
  <!--<add name="web" connectionString="Data Source=DESKTOP-CRI7IA5;Initial Catalog=SC92_Web;User ID=webuser;Password=vqpgywmkw6oBNCEgH2AC" />-->
  <add name="messaging" connectionString="Data Source=DESKTOP-CRI7IA5;Initial Catalog=SC92_Messaging;User ID=messaginguser;Password=K8pex64Fw1CnVvdZRiT0" />
  <add name="xdb.marketingautomation" connectionString="Data Source=DESKTOP-CRI7IA5;Initial Catalog=SC92_MarketingAutomation;User ID=marketingautomationuser;Password=y67BrhGmpbRVMAaWTfWy" />
  <add name="xdb.processing.pools" connectionString="Data Source=DESKTOP-CRI7IA5;Initial Catalog=SC92_Processing.Pools;User ID=poolsuser;Password=NrmlzpN9pLthZc1lFftM" />
  <add name="xdb.referencedata" connectionString="Data Source=DESKTOP-CRI7IA5;Initial Catalog=SC92_ReferenceData;User ID=referencedatauser;Password=SjOvmnHJ8qswRR1gZ65X" />
  <add name="xdb.processing.tasks" connectionString="Data Source=DESKTOP-CRI7IA5;Initial Catalog=SC92_Processing.Tasks;User ID=tasksuser;Password=p0cPWAgZCvp6dWYfA5nO" />
  <add name="experienceforms" connectionString="Data Source=DESKTOP-CRI7IA5;Initial Catalog=SC92_ExperienceForms;User ID=formsuser;Password=ka9Tl6C9GWyIs9Mkqy3w" />
  <add name="exm.master" connectionString="Data Source=DESKTOP-CRI7IA5;Initial Catalog=SC92_EXM.Master;User ID=exmmasteruser;Password=fh5ff9PMkiwOITJFecuM" />
  <add name="reporting" connectionString="Data Source=DESKTOP-CRI7IA5;Initial Catalog=SC92_Reporting;User ID=reportinguser;Password=aX8p7PbIwVOlAd3k6WOi" />
  <add name="sitecore.reporting.client" connectionString="https://SC92xconnect.dev.local" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=1B4659076AEDE9233F78774F4D917375ECD7EA30" />
  <add name="solr.search" connectionString="https://localhost:8983/solr" />
  <add name="sitecoreidentity.secret" connectionString="MYbOjiQThXHEXhzaDgnnkxi5IQeBsjjW9lSxH74Pr8O3mWzw6UxNdhHAj3oiKflf80RzBmAwKojVk7nZPJ5eeeo8PtyAax04Ul8M" />
  <add name="xconnect.collection" connectionString="https://SC92xconnect.dev.local" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=1B4659076AEDE9233F78774F4D917375ECD7EA30" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://SC92xconnect.dev.local" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=1B4659076AEDE9233F78774F4D917375ECD7EA30" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://SC92xconnect.dev.local" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=1B4659076AEDE9233F78774F4D917375ECD7EA30" />
  <add name="xdb.referencedata.client" connectionString="https://SC92xconnect.dev.local" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=1B4659076AEDE9233F78774F4D917375ECD7EA30" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  <add name="EXM.CryptographicKey" connectionString="0x2753594796852989507838828589723984397183390190268708149811465934" />
  <add name="EXM.AuthenticationKey" connectionString="0x0787604228861992926123339495324786759199595131269966244322071682" />
</connectionStrings>