<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <log4net>
      <logger name="Mhasasneh.General" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="MhasasnehGeneralFileAppender" />
      </logger>
      <appender name="MhasasnehGeneralFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Mhasasneh.General.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
    </log4net>
    <log4net>
      <logger name="Mhasasneh.News" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="MhasasnehNewFileAppender" />
      </logger>
      <appender name="MhasasnehNewFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Mhasasneh.News.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
    </log4net>
    <log4net>
      <logger name="Mhasasneh.Announcement" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="MhasasnehAnnouncementFileAppender" />
      </logger>
      <appender name="MhasasnehAnnouncementFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Mhasasneh.Announcement.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
    </log4net>
    <log4net>
      <logger name="Mhasasneh.Country" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="MhasasnehCountryFileAppender" />
      </logger>
      <appender name="MhasasnehCountryFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Mhasasneh.Country.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
    </log4net>
    <log4net>
      <logger name="Mhasasneh.Feature.Common" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="MhasasnehFeatureCommonFileAppender" />
      </logger>
      <appender name="MhasasnehFeatureCommonFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Mhasasneh.Feature.Common.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
    </log4net>
    <log4net>
      <logger name="Mhasasneh.Offer" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="MhasasnehCountryFileAppender" />
      </logger>
      <appender name="MhasasnehOfferFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Mhasasneh.Offer.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
    </log4net>
    <log4net>
      <logger name="Mhasasneh.Feature.Common" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="MhasasnehFeatureCommonFileAppender" />
      </logger>
      <appender name="MhasasnehFeatureCommonFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Mhasasneh.Feature.Common.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
    </log4net>
    <log4net>
      <logger name="Mhasasneh.Airports" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="MhasasnehAirportsFileAppender" />
      </logger>
      <appender name="MhasasnehAirportsFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Mhasasneh.Airports.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
    </log4net>
    <log4net>
      <logger name="Mhasasneh.AdvancedArticle" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="MhasasnehAdvancedArticleFileAppender" />
      </logger>
      <appender name="MhasasnehAdvancedArticleFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Mhasasneh.AdvancedArticle.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
    </log4net>
    <log4net>
      <logger name="Mhasasneh.PageTeaser" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="SaudiAirlinePageTeaserFileAppender" />
      </logger>
      <appender name="MhasasnehPageTeaserFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Mhasasneh.PageTeaser.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
    </log4net>
    <log4net>
      <logger name="Mhasasneh.BookingEngine" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="MhasasnehBookingEngineFileAppender" />
      </logger>
      <appender name="MhasasnehBookingEngineFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Mhasasneh.BookingEngine.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
    </log4net>
    <log4net>
      <logger name="Mhasasneh.Offices" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="MhasasnehOfficesFileAppender" />
      </logger>
      <appender name="MhasasnehOfficesFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Mhasasneh.Offices.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
    </log4net>
  </sitecore>
</configuration>
